<section>
  <button routerLink="/feedback-form" mat-raised-button color="primary">Форма обратной связи</button>
</section>

<fieldset [formGroup]="formLogIn" align="center" class="d-flex parent">

  <mat-card-title>Авторизация</mat-card-title>

  <small *ngIf="!registrationSuccessMessage">Чтобы войти без регистрации</small>
  <small *ngIf="!registrationSuccessMessage">Введите телефон 1111111111 и пароль 111</small>
  <small *ngIf="registrationSuccessMessage">Регистрация прошла успешно</small>
  <small *ngIf="registrationSuccessMessage">Теперь можете войти в систему))</small>

  <mat-form-field appearance="fill">
    <mat-label>Телефон</mat-label>
    <span matPrefix>+7 &nbsp;</span>
    <input matInput required
           [(ngModel)]="user.phone"
           formControlName="phoneControl"
           type="tel" mask="(000) 000-0000"
    >
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Введите пароль</mat-label>
    <input matInput required trim
           formControlName="passwordControl"
           [(ngModel)]="user.password"
           [type]="viewPassword ? 'password' : 'text'"
    >
    <button mat-icon-button matSuffix (click)="viewPassword = !viewPassword">
      <mat-icon>{{viewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <section>
    <button (click)="submit()"
            [disabled]="!formValid"
            [style.opacity]="formValid ? 1 : 0.6"
            mat-raised-button color="primary"
    >Войти</button>
  </section>

  <section>
    <button routerLink="/registration" mat-raised-button color="primary">Зарегестрироваться</button>
  </section>

  <mat-error *ngIf="error.hasError">{{ error.message }}</mat-error>

</fieldset>
