/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; background-color: #060045; color: aqua; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: aqua; }

.error { color: red; }

.flexRow {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.backgroundGrey {
  background-color: darkslategray;
  opacity: .7 !important;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  border: 0;
}

mat-card-title, mat-card {
  margin-bottom: 1vw;
}

mat-form-field {
  width: 30vw;
}

section {
  margin-bottom: 2vw;
}

.green {
  color: greenyellow;
}


